---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-17-cluster
spec:
  instances: 3
  # NOTE: Yes I know everything is called *-17-*, even though the version is now higher
  # That was an oversight when first making the cluster, but I don't care enough to fix it now
  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie@sha256:bbefe420af6ba639167cf6b5ea385a5a5816db47cfaa8c6b1fecc2c503b8df81
  logLevel: warning
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: pg-cluster-garage-object-store
        # NOTE: serverName version needs to be incremented
        # when recovering from an existing cnpg cluster
        serverName: postgres-17-cluster-v2

  storage:
    size: 8Gi
    storageClass: longhorn-single-replica
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 1Gi
  monitoring:
    enablePodMonitor: true
    # see https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    podMonitorMetricRelabelings:
      - sourceLabels: ["cluster"]
        targetLabel: cnpg_cluster
        action: replace
      - regex: cluster
        action: labeldrop
