---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-17-cluster
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:17.7-system-trixie@sha256:6d8125b098073329ff00b83e5da766175f4aa4c2ff826e819eb9d7ce467b6cd3
  logLevel: warning
  storage:
    size: 8Gi
    storageClass: longhorn-single-replica
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 1Gi
  monitoring:
    enablePodMonitor: true
    # see https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    podMonitorMetricRelabelings:
      - sourceLabels: ["cluster"]
        targetLabel: cnpg_cluster
        action: replace
      - regex: cluster
        action: labeldrop
  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      endpointURL: https://garage-tc.laboratory.casa
      s3Credentials:
        accessKeyId:
          name: cloudnative-pg
          key: aws-access-key-id
        secretAccessKey:
          name: cloudnative-pg
          key: aws-secret-access-key
      destinationPath: s3://cloudnative-pg/v17
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 4
      # NOTE: serverName version needs to be incremented
      # when recovering from an existing cnpg cluster
      serverName: postgres-17-cluster-v2
