---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres-17-cluster
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:17.7-standard-trixie@sha256:429834dbb542490236ae6e5088897dcb3053b6e73fd05745467fc816bd2f474a
  logLevel: warning
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: pg-cluster-garage-object-store
        # NOTE: serverName version needs to be incremented
        # when recovering from an existing cnpg cluster
        serverName: postgres-17-cluster-v2

  storage:
    size: 8Gi
    storageClass: longhorn-single-replica
  enableSuperuserAccess: true
  superuserSecret:
    name: cloudnative-pg
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      memory: 1Gi
  monitoring:
    enablePodMonitor: true
    # see https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    podMonitorMetricRelabelings:
      - sourceLabels: ["cluster"]
        targetLabel: cnpg_cluster
        action: replace
      - regex: cluster
        action: labeldrop
