---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: postgres-17-cluster-daily-backup
spec:
  schedule: "@daily"
  immediate: true
  backupOwnerReference: self
  cluster:
    name: postgres-17-cluster
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
