replicaCount: 1

server:
  persistentVolume:
    enabled: true
    storageClass: longhorn-single-replica
    size: 30Gi

  retentionPeriod: 14d

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi

  extraEnv:
    - name: VICTORIA_LOGS_PERSISTENT_QUEUE_ENABLED
      value: "true"

ingress:
  enabled: true
  ingressClassName: internal
  hosts:
    - victorialogs.laboratory.casa
