apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: gluetun-proxy-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./gluetun-proxy-secret.sops.yaml
