---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: intel-gpu
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: kubernetes
  sources:
    - repoURL: https://github.com/mebezac/home-cluster.git
      path: kubernetes/apps/kube-system/intel-gpu
      targetRevision: main
      ref: repo
    - repoURL: https://intel.github.io/helm-charts
      chart: intel-device-plugins-operator
      targetRevision: 0.34.1
      helm:
        releaseName: intel-device-plugins-operator
    - repoURL: https://intel.github.io/helm-charts
      chart: intel-device-plugins-gpu
      targetRevision: 0.35.0
      helm:
        releaseName: intel-device-plugins-gpu
        valueFiles:
          - $repo/kubernetes/apps/kube-system/intel-gpu/values.yaml
  destination:
    name: in-cluster
    namespace: kube-system
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: deviceplugin.intel.com
      kind: GpuDevicePlugin
      jsonPointers:
        - /spec/resourceManager
