[env]
_.python.venv = { path = "{{config_root}}/.venv", create = true }
KUBECONFIG = "{{config_root}}/kubeconfig"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/kubernetes/bootstrap/talos/clusterconfig/talosconfig"
TASK_X_ENV_PRECEDENCE = 1
TASK_X_MAP_VARIABLES = 0

[tasks.deps]
description = "Install dependencies"
run = "uv pip install -r requirements.txt"

[tools]
# Template tools
python = "3.14.2"
uv = "0.9.18"
# Operations tools
"aqua:argoproj/argo-cd" = "3.2.2"
"aqua:budimanjojo/talhelper" = "3.0.41"
"aqua:cloudflare/cloudflared" = "2025.11.1"
"aqua:derailed/k9s" = "0.50.16"
"aqua:FiloSottile/age" = "1.2.1"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.45.5"
"aqua:helm/helm" = "4.0.4"
"aqua:helmfile/helmfile" = "1.2.2"
"aqua:jqlang/jq" = "1.7.1"
"aqua:kubernetes-sigs/kustomize" = "5.6.0"
"aqua:kubernetes/kubectl" = "1.32.2"
"aqua:mikefarah/yq" = "4.50.1"
"aqua:siderolabs/talos" = "1.11.6"
"aqua:yannh/kubeconform" = "0.7.0"
"asdf:janpieper/asdf-ksops" = "4.3.3"
