defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 3000
    runAsGroup: 3000
    fsGroup: 3000
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

controllers:
  semaphore:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.2
          pullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: semaphore-secret
    containers:
      app:
        image:
          repository: semaphoreui/semaphore
          tag: v2.17.12@sha256:54a0da58674b5bf44934be907d517d7ffb77fd459770bf1b4397252eb2a95161
        env:
          SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
          SEMAPHORE_PORT: &port 3000
          SEMAPHORE_DB_DIALECT: postgres
          SEMAPHORE_DB_PORT: "5432"
        envFrom: *envFrom
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: { drop: ["ALL"] }

service:
  app:
    controller: semaphore
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: internal
    hosts:
      - host: semaphore.laboratory.casa
        paths:
          - path: /
            service:
              identifier: app
              port: http

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 512Mi
    globalMounts:
      - path: /var/lib/semaphore
        subPath: data
      - path: /etc/semaphore
        subPath: config
  tmp:
    type: emptyDir
    globalMounts:
      - path: /tmp/semaphore
