---
controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1
          pullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: lychee-secret
    containers:
      app:
        image:
          repository: lycheeorg/lychee
          tag: v7.2.1@sha256:a186f309d15d9198811046c1738f7995e547b07df6db838b3975b4fca1efd14b
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 2048Mi
        env:
          TIMEZONE: America/New_York
          APP_NAME: Lychee
          APP_URL: https://photos.zac.pizza
          DB_CONNECTION: pgsql
          DB_PORT: 5432
          PHP_TZ: America/New_York
          REDIS_PORT: 6379
          TRUSTED_PROXIES: "*"
          SECURITY_HEADER_SCRIPT_SRC_ALLOW: https://analytics.laboratory.casa/script.js
          SECURITY_HEADER_CSP_CONNECT_SRC: https://analytics.laboratory.casa/script.js
        envFrom: *envFrom
        probes:
          liveness: &liveness
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: &appPort 8000
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *liveness
          startup:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 30
              httpGet:
                path: /
                port: *appPort

service:
  main:
    controller: main
    ports:
      http:
        port: *appPort

ingress:
  main:
    enabled: true
    className: external
    annotations:
      external-dns.alpha.kubernetes.io/target: external.zac.pizza
    hosts:
      - host: &host photos.zac.pizza
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: zac-pizza-production-tls

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 2Gi
    globalMounts:
      - path: /app/.env
        subPath: conf/.env
      - path: /sym
        subPath: sym
      - path: /app/storage/app
        subPath: app
      - path: /app/storage/logs
        subPath: logs
  uploads:
    enabled: true
    type: persistentVolumeClaim
    storageClass: freenas-api-nfs
    accessMode: ReadWriteOnce
    size: 50Gi
    globalMounts:
      - path: /app/public/uploads
  tmp:
    type: emptyDir
    globalMounts:
      - path: /app/storage/tmp
