---
controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1
          pullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: lychee-secret
    containers:
      app:
        image:
          repository: lycheeorg/lychee
          tag: v7.0.0@sha256:10c79fb468be91b1750017faa4e92cc685c5c4d06155a2c6b949573fe9d6f5b4
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 2048Mi
        env:
          TIMEZONE: America/New_York
          APP_NAME: Lychee
          APP_URL: https://photos.zac.pizza
          DB_CONNECTION: pgsql
          DB_PORT: 5432
          PHP_TZ: America/New_York
          REDIS_PORT: 6379
          TRUSTED_PROXIES: "*"
          SECURITY_HEADER_SCRIPT_SRC_ALLOW: https://analytics.laboratory.casa/script.js
          SECURITY_HEADER_CSP_CONNECT_SRC: https://analytics.laboratory.casa/script.js
        envFrom: *envFrom
        probes:
          liveness: &liveness
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 80
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *liveness
          startup:
            enabled: true
            custom: true
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 30
              httpGet:
                path: /
                port: 80

service:
  main:
    controller: main
    ports:
      http:
        port: 80

ingress:
  main:
    enabled: true
    className: external
    annotations:
      external-dns.alpha.kubernetes.io/target: external.zac.pizza
    hosts:
      - host: &host photos.zac.pizza
        paths:
          - path: /
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - *host
        secretName: zac-pizza-production-tls

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 2Gi
    globalMounts:
      - path: /conf
        subPath: conf
      - path: /sym
        subPath: sym
      - path: /logs
        subPath: logs
  uploads:
    enabled: true
    type: persistentVolumeClaim
    storageClass: freenas-api-nfs
    accessMode: ReadWriteOnce
    size: 50Gi
    globalMounts:
      - path: /uploads
