---
defaultPodOptions:
  securityContext:
    runAsUser: 3000
    runAsGroup: 3000
    fsGroup: 3000
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/jellyfin/jellyfin
          tag: 10.11.3
        resources:
          requests:
            cpu: 100m
            gpu.intel.com/i915: 1
            memory: 512Mi
          limits:
            gpu.intel.com/i915: 1
            memory: 8000Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 8096

ingress:
  main:
    annotations:
      external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    enabled: true
    className: external
    hosts:
      - host: jellyfin.laboratory.casa
        paths:
          - path: /
            pathType: ImplementationSpecific
            service:
              identifier: main
              port: http

persistence:
  media:
    enabled: true
    type: nfs
    server: nas.laboratory.casa
    path: /mnt/data/10tb/Media
    globalMounts:
      - path: /Media
  pinchflat:
    existingClaim: pinchflat-media
    globalMounts:
      - path: /pinchflat
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 5Gi
    globalMounts:
      - path: /config
        subPath: config
      - path: /cache
        subPath: cache

  transcodes:
    enabled: true
    type: persistentVolumeClaim
    storageClass: openebs-hostpath
    accessMode: ReadWriteOnce
    suffix: transcodes
    size: 60Gi
    globalMounts:
      - path: /transcodes
