---
controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/immich-app/postgres
          tag: 16-vectorchord0.3.0-pgvectors0.3.0
        env:
          POSTGRES_INITDB_ARGS: --data-checksums
        envFrom:
          - secretRef:
              name: immich-db-secret
        resources:
          requests:
            cpu: 1000m
            memory: 250Mi
          limits:
            memory: 2Gi

      db18:
        image:
          repository: ghcr.io/immich-app/postgres
          tag: 18-vectorchord0.5.3-pgvector0.8.1@sha256:81d9261d3ff893d5e9b1c481c95c464e6992c38ec3ba1c1dc931020f139ab096
        env:
          POSTGRES_INITDB_ARGS: --data-checksums
          PGDATA: /var/lib/postgresql18/data
          PGPORT: 5433
        envFrom:
          - secretRef:
              name: immich-db-secret
        resources:
          requests:
            cpu: 1000m
            memory: 250Mi
          limits:
            memory: 2Gi

      metrics:
        image:
          repository: quay.io/prometheuscommunity/postgres-exporter
          tag: v0.18.1@sha256:fb96c4413985d4b23ab02b19022b3d70a86c8e0a62f41ab15ebb6f4673781a5d
        env:
          DATA_SOURCE_URI: localhost:5432/postgres?sslmode=disable
        envFrom:
          - secretRef:
              name: immich-db-secret
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            memory: 256Mi
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
service:
  main:
    ports:
      postgres:
        port: 5432
  db18:
    ports:
      postgres:
        port: 5433
  metrics:
    ports:
      metrics:
        port: 9187

serviceMonitor:
  main:
    enabled: true
    serviceName: immich-db-metrics
    endpoints:
      - port: metrics

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 5Gi
    advancedMounts:
      main:
        main:
          - path: /var/lib/postgresql/data
            subPath: postgresql-data
  data-18:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data-18
    size: 5Gi
    advancedMounts:
      main:
        db18:
          - path: /var/lib/postgresql18/data
            subPath: postgresql-data
