apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: podcast-adblock-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./podcast-adblock-secret.sops.yaml
