apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: cert-manager-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./secret.sops.yaml
  - ./clusterissuers.sops.yaml
  - ./biglink-party-clusterissuers.sops.yaml
  - ./zac-pizza-clusterissuers.sops.yaml
  - ./heremag-free-clusterissuers.sops.yaml
