---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudflared-heremag-free
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: kubernetes
  sources:
    - repoURL: https://github.com/mebezac/home-cluster.git
      path: kubernetes/apps/network/cloudflared-heremag-free
      targetRevision: main
      ref: heremag-free-repo
    - repoURL: ghcr.io/bjw-s-labs/helm
      chart: app-template
      targetRevision: 4.6.0
      helm:
        releaseName: cloudflared-heremag-free
        valueFiles:
          - $heremag-free-repo/kubernetes/apps/network/cloudflared-heremag-free/values.yaml
  destination:
    name: in-cluster
    namespace: network
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
