---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: lychee
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: kubernetes
  sources:
    - repoURL: https://github.com/mebezac/home-cluster.git
      path: kubernetes/apps/lychee/mariadb
      targetRevision: main
      ref: mariadb-repo
    - repoURL: registry-1.docker.io/bitnamicharts
      chart: mariadb
      targetRevision: 24.0.0
      helm:
        releaseName: lychee-db
        valueFiles:
          - $mariadb-repo/kubernetes/apps/lychee/mariadb/values.yaml
    - repoURL: https://github.com/mebezac/home-cluster.git
      path: kubernetes/apps/lychee/lychee
      targetRevision: main
      ref: lychee-repo
    - repoURL: ghcr.io/bjw-s-labs/helm
      chart: app-template
      targetRevision: 4.5.0
      helm:
        releaseName: lychee
        valueFiles:
          - $lychee-repo/kubernetes/apps/lychee/lychee/values.yaml
  destination:
    name: in-cluster
    namespace: lychee
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
