---
defaultPodOptions:
  securityContext:
    runAsUser: 3000
    runAsGroup: 3000
    fsGroup: 3000
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/advplyr/audiobookshelf
          tag: 2.32.1
        resources:
          requests:
            cpu: 100m
            memory: 150Mi
          limits:
            cpu: 200m
            memory: 300Mi
        env:
          AUDIOBOOKSHELF_UID: 3000
          AUDIOBOOKSHELF_GID: 3000
          TZ: America/Detroit

service:
  main:
    controller: main
    ports:
      http:
        port: 80

ingress:
  main:
    enabled: true
    className: external
    annotations:
      external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    hosts:
      - host: audiobookshelf.laboratory.casa
        paths:
          - path: /
            pathType: ImplementationSpecific
            service:
              identifier: main
              port: http

persistence:
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 500Mi
    suffix: config
    globalMounts:
      - path: /config
        subPath: config
      - path: /metadata
        subPath: metadata

  audiobooks:
    enabled: true
    type: nfs
    server: nas.laboratory.casa
    path: /mnt/data/10tb/Media/Audiobooks
    globalMounts:
      - path: /audiobooks
