apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: cert-manager-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./staging.sops.yaml
  - ./staging-biglink-party.sops.yaml
  - ./staging-zac-pizza.sops.yaml
  - ./staging-heremag-free.sops.yaml
  - ./production.sops.yaml
  - ./production-biglink-party.sops.yaml
  - ./production-zac-pizza.sops.yaml
  - ./production-heremag-free.sops.yaml
