controllers:
  lldap:
    replicas: 2
    strategy: RollingUpdate
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1
          pullPolicy: IfNotPresent
        envFrom:
          - secretRef:
              name: lldap-initdb-secret
    pod:
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              app.kubernetes.io/name: lldap
    containers:
      lldap:
        image:
          repository: ghcr.io/lldap/lldap
          tag: 2025-04-04
        env:
          TZ: America/New_York
          LLDAP_HTTP_PORT: &port 80
          LLDAP_HTTP_URL: https://lldap.laboratory.casa
          LLDAP_LDAP_PORT: &ldapPort 389
          LLDAP_LDAP_BASE_DN: dc=laboratory,dc=casa
        envFrom:
          - secretRef:
              name: lldap-secret
        resources:
          requests:
            cpu: 5m
            memory: 36M
          limits:
            memory: 128M
service:
  app:
    controller: lldap
    ports:
      http:
        port: *port
      ldap:
        port: *ldapPort
ingress:
  app:
    enabled: true
    className: internal
    hosts:
      - host: &host "lldap.laboratory.casa"
        paths:
          - path: /
            service:
              identifier: app
              port: http
persistence:
  data:
    type: emptyDir
