---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  namespace: argo-system
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: kubernetes
  sources:
    - repoURL: https://github.com/mebezac/home-cluster.git
      path: kubernetes/apps/immich/postgres
      targetRevision: main
      ref: postgres-repo
    - repoURL: ghcr.io/bjw-s-labs/helm
      chart: app-template
      targetRevision: 4.5.0
      helm:
        releaseName: immich-db
        valueFiles:
          - $postgres-repo/kubernetes/apps/immich/postgres/values.yaml
    - repoURL: https://github.com/mebezac/home-cluster.git
      path: kubernetes/apps/immich/immich
      targetRevision: main
      ref: immich-repo
    - repoURL: ghcr.io/bjw-s-labs/helm
      chart: app-template
      targetRevision: 4.5.0
      helm:
        releaseName: immich
        valueFiles:
          - $immich-repo/kubernetes/apps/immich/immich/values.yaml
  destination:
    name: in-cluster
    namespace: immich
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
