---
#   securityContext:
#     runAsUser: 3000
#     runAsGroup: 3000
#     fsGroup: 3000
#     fsGroupChangePolicy: "OnRootMismatch"

controllers:
  main:
    replicas: 1
    containers:
      main:
        image:
          repository: ghcr.io/anomalyco/opencode
          tag: 1.1.17@sha256:bc2c5aa10fa492a89f776053282cb267b4fa6bc382f15a0c319be769dd60ea98
        workingDir: /data
        env:
          HOME: /data
        args:
          - serve
          - --port
          - "3000"
          - --hostname
          - 0.0.0.0
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            memory: 1Gi

service:
  main:
    controller: main
    ports:
      http:
        port: 3000

ingress:
  main:
    enabled: true
    className: internal
    hosts:
      - host: opencode.laboratory.casa
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /data
