defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 3000
    runAsGroup: 3000
    fsGroup: 3000
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

controllers:
  jotty:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/fccview/jotty
          tag: 1.13.1@sha256:f113af73a090f39d64bc42e073129785e9c7c9aee220c3c04fc53e94c87075aa
        env:
          NODE_ENV: production
          PUID: 3000
          PGID: 3000
          APP_URL: jotty.laboratory.casa
          STOP_CHECK_UPDATES: yes
          TZ: America/New_York
        envFrom:
          - secretRef:
              name: jotty-secret
        resources:
          requests:
            cpu: 15m
            memory: 128M
          limits:
            memory: 512M

service:
  app:
    controller: jotty
    ports:
      http:
        port: 3000

ingress:
  app:
    className: internal
    hosts:
      - host: jotty.laboratory.casa
        paths:
          - path: /
            service:
              identifier: app
              port: http

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /app/data
        subPath: data
      - path: /app/config
        subPath: config
  cache:
    type: emptyDir
    globalMounts:
      - path: /app/.next/cache
