defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 3000
    runAsGroup: 3000
    fsGroup: 3000
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

controllers:
  valkey:
    type: statefulset
    containers:
      app:
        command: ["valkey-server", "/config/valkey.conf"]
        image:
          repository: valkey/valkey
          tag: 9.0.1-alpine@sha256:c106a0c03bcb23cbdf9febe693114cb7800646b11ca8b303aee7409de005faa8
        resources:
          requests:
            cpu: 5m
            memory: 16Mi
          limits:
            memory: 256Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }

service:
  app:
    controller: valkey
    ports:
      valkey:
        port: 6379

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 1Gi
    advancedMounts:
      valkey:
        app:
          - path: /data
  config:
    type: secret
    name: valkey-secret
    advancedMounts:
      valkey:
        app:
          - path: /config/valkey.conf
            subPath: valkey.conf
            readOnly: true
