defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

controllers:
  umami:
    annotations:
      reloader.stakater.com/auto: "true"
    strategy: Recreate
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1
          pullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: umami-secret
    containers:
      app:
        image:
          repository: ghcr.io/umami-software/umami
          tag: 3.0.3@sha256:28f263fe06f79ebffa5a6a6e9bd33b7a278e9342a88e0bdac812416c9f9e4361
        env:
          TZ: America/New_York
          DISABLE_TELEMETRY: "true"
          IGNORE_IP: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,127.0.0.1/32"
        envFrom: *envFrom
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/heartbeat
                port: &port 3000
              initialDelaySeconds: 0
              periodSeconds: 30
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 15m
            memory: 300Mi
          limits:
            memory: 500Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: false
          capabilities: { drop: ["ALL"] }

service:
  app:
    controller: umami
    ports:
      http:
        port: *port

ingress:
  app:
    enabled: true
    className: external
    annotations:
      external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    hosts:
      - host: analytics.laboratory.casa
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http

persistence:
  tmp:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /tmp
