deploymentMode: SingleBinary
loki:
  image:
    repository: grafana/loki
    tag: 3.6.2
    pullPolicy: IfNotPresent
  auth_enabled: false
  analytics:
    reporting_enabled: false
  server:
    log_level: warn
  commonConfig:
    replication_factor: 1
  compactor:
    working_directory: /var/loki/compactor/retention
    delete_request_store: filesystem
    retention_enabled: true
  ingester:
    chunk_encoding: snappy
  limits_config:
    retention_period: 14d
    query_timeout: 600s
  storage:
    type: filesystem
  schemaConfig:
    configs:
      - from: "2025-07-03"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: longhorn-single-replica
    size: 50Gi
memberlist:
  service:
    publishNotReadyAddresses: true
gateway:
  replicas: 0
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
chunksCache:
  enabled: false
resultsCache:
  enabled: false
lokiCanary:
  enabled: false
test:
  enabled: false
