apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: formbricks-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./formbricks-secret.sops.yaml
