defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

controllers:
  formbricks:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.2
          pullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: formbricks-secret
    containers:
      app:
        image:
          repository: ghcr.io/formbricks/formbricks
          tag: 4.7.2@sha256:7574513873c903b02102bc2f6c83f483c42d8316fb5fa3ea8f25fcbd7cad606e
        env:
          EMAIL_VERIFICATION_DISABLED: "1"
        envFrom: *envFrom
        resources:
          requests:
            cpu: 500m
            memory: 256M
          limits:
            cpu: 2000m
            memory: 2048M
service:
  app:
    controller: formbricks
    ports:
      http:
        port: 3000
ingress:
  app:
    className: external
    annotations:
      external-dns.alpha.kubernetes.io/target: external.heremag.free
    hosts:
      - host: forms.heremag.free
        paths:
          - path: /
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - forms.heremag.free
        secretName: heremag-free-production-tls
