defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1001
    runAsGroup: 1001
    fsGroup: 1001
    fsGroupChangePolicy: OnRootMismatch
    seccompProfile: { type: RuntimeDefault }

controllers:
  formbricks:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      init-db:
        image:
          repository: ghcr.io/home-operations/postgres-init
          tag: 18.1
          pullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: formbricks-secret
    containers:
      app:
        image:
          repository: ghcr.io/formbricks/formbricks
          tag: 4.4.3@sha256:5549123d9117c8b7d18bc43ee80321a97399f129dbd9f56377386624618a1695
        envFrom: *envFrom
        resources:
          requests:
            cpu: 15m
            memory: 256M
          limits:
            memory: 2048M
service:
  app:
    controller: formbricks
    ports:
      http:
        port: 3000
ingress:
  app:
    className: internal
    hosts:
      - host: forms.heremag.free
        paths:
          - path: /
            service:
              identifier: app
              port: http
