---
csi:
  storageMinimalAvailablePercentage: 15
image:
  longhorn:
    manager:
      tag: v1.11.0-hotfix-1
    instanceManager:
      tag: v1.11.0-hotfix-1
defaultBackupStore:
  backupTarget: "cifs://10.25.30.36/longhorn-backup"
  backupTargetCredentialSecret: backup-secret
defaultSettings:
  allowCollectingLonghornUsageMetrics: false
  autoDeletePodWhenVolumeDetachedUnexpectedly: true
  createDefaultDiskLabeledNodes: true
  nodeDownPodDeletionPolicy:
ingress:
  enabled: true
  host: "longhorn.laboratory.casa"
  ingressClassName: "internal"
persistence:
  defaultClassReplicaCount: 2
  defaultDataLocality: best-effort
  volumeBindingMode: WaitForFirstConsumer
preUpgradeChecker:
  jobEnabled: false
  upgradeVersionCheck: false
service:
  ui:
    type: ClusterIP
