apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: cloudflared-heremag-free-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./secret.sops.yaml
  - ./config.sops.yaml
  - ./dnsendpoint.sops.yaml
