---
defaultPodOptions:
  securityContext:
    runAsUser: 3000
    runAsGroup: 3000
    fsGroup: 3000
    fsGroupChangePolicy: "OnRootMismatch"

controllers:
  main:
    replicas: 1
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: ghcr.io/music-assistant/server
          tag: 2.7.1@sha256:35dc0ea99095e96d99538cdef6d52de8939a84096ba49a391474409b3d7bcb71
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            memory: 2Gi

service:
  main:
    controller: main
    annotations:
      io.cilium/lb-ipam-ips: 10.25.30.57
    type: LoadBalancer
    externalTrafficPolicy: Cluster
    ports:
      http:
        port: 8095
      stream:
        port: 8097

ingress:
  main:
    enabled: true
    className: internal
    hosts:
      - host: ma.laboratory.casa
        paths:
          - path: /
            service:
              identifier: main
              port: http

persistence:
  media:
    enabled: true
    type: nfs
    server: nas.laboratory.casa
    path: /mnt/data/10tb/Media
    globalMounts:
      - path: /Media

  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    suffix: data
    size: 5Gi
    globalMounts:
      - path: /data

  tmpfs:
    type: emptyDir
    globalMounts:
      - path: /.audio
