fullnameOverride: k8s-gateway
domain: laboratory.casa biglink.party heremag.free
ttl: 1
service:
  type: LoadBalancer
  port: 53
  annotations:
    io.cilium/lb-ipam-ips: 10.25.30.118
  externalTrafficPolicy: Cluster
watchedResources:
  - HTTPRoute
  - Ingress
  - Service
