---
defaultPodOptions:
  priorityClassName: system-node-critical
configMaps:
  config:
    data:
      config.yaml: |-
        devices:
          - name: tun
            groups:
              - count: 1000
                paths:
                  - path: /dev/net/tun
controllers:
  generic-device-plugin:
    type: daemonset
    strategy: RollingUpdate
    containers:
      app:
        image:
          repository: ghcr.io/squat/generic-device-plugin
          tag: latest@sha256:f1055553438c495c5258c4648a83f6aaf0a3c908d0c5313302ddf0feaa1758bd
        args:
          - --log-level=info
          - --config=/config/config.yaml
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
persistence:
  config:
    type: configMap
    identifier: config
    globalMounts:
      - path: /config/config.yaml
        subPath: config.yaml
        readOnly: true
  dev:
    type: hostPath
    hostPath: /dev
    globalMounts:
      - readOnly: true
  sys:
    type: hostPath
    hostPath: /sys
    globalMounts:
      - readOnly: true
  var-lib-kubelet-device-plugins:
    type: hostPath
    hostPath: /var/lib/kubelet/device-plugins
