---
services:
  - name: truenas
    external_ip: 10.25.30.36
    ingresses:
      - host: truenas.laboratory.casa
        ingressClassName: internal
        port: 80
    service_ports:
      - name: http
        port: 80
        target_port: 80
  - name: adguard-pi-02
    external_ip: 10.25.30.32
    ingresses:
      - host: adguard-pi-02.laboratory.casa
        ingressClassName: internal
        port: 80
    service_ports:
      - name: http
        port: 80
        target_port: 80
  - name: adguard-pi-03
    external_ip: 10.25.30.38
    ingresses:
      - host: adguard-pi-03.laboratory.casa
        ingressClassName: internal
        port: 80
    service_ports:
      - name: http
        port: 80
        target_port: 80
  - name: zigbee-hub
    external_ip: 10.25.30.78
    ingresses:
      - host: zigbee-hub.laboratory.casa
        ingressClassName: internal
        port: 80
    service_ports:
      - name: http
        port: 80
        target_port: 80
  - name: birdnet
    external_ip: 10.25.30.14
    ingresses:
      - host: birdnet.laboratory.casa
        ingressClassName: external
        port: 80
        annotations:
          external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    service_ports:
      - name: http
        port: 80
        target_port: 80
  - name: frigate
    external_ip: 10.25.30.10
    ingresses:
      - host: frigate.laboratory.casa
        ingressClassName: external
        port: 5000
        annotations:
          external-dns.alpha.kubernetes.io/target: external.laboratory.casa
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.security.svc.cluster.local/api/authz/auth-request
          nginx.ingress.kubernetes.io/auth-signin: https://login.laboratory.casa?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: Remote-User,Remote-Name,Remote-Groups,Remote-Email
    service_ports:
      - name: http
        port: 5000
        target_port: 5000
  - name: minio-tc
    external_ip: 10.25.30.36
    ingresses:
      - host: minio-tc.laboratory.casa
        ingressClassName: external
        port: 9000
        annotations:
          external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    service_ports:
      - name: http
        port: 9000
        target_port: 9000
  - name: minio-tc-console
    external_ip: 10.25.30.36
    ingresses:
      - host: minio-tc-console.laboratory.casa
        ingressClassName: external
        port: 9002
        annotations:
          external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    service_ports:
      - name: http
        port: 9002
        target_port: 9002
  - name: garage-tc
    external_ip: 10.25.30.36
    ingresses:
      - host: garage-tc.laboratory.casa
        ingressClassName: external
        port: 30188
        annotations:
          external-dns.alpha.kubernetes.io/target: external.laboratory.casa
          nginx.ingress.kubernetes.io/enable-cors: "true"
          nginx.ingress.kubernetes.io/cors-allow-origin: "*"
          nginx.ingress.kubernetes.io/cors-allow-methods: "GET, PUT, POST, DELETE, HEAD, OPTIONS"
          nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,X-Amz-Date,X-Amz-Content-SHA256,X-Amz-Security-Token"
          nginx.ingress.kubernetes.io/cors-expose-headers: "Content-Length,Content-Range,ETag,X-Amz-Request-Id"
          nginx.ingress.kubernetes.io/cors-max-age: "3600"

    service_ports:
      - name: http
        port: 30188
        target_port: 30188
  - name: garage-tc-console
    external_ip: 10.25.30.36
    ingresses:
      - host: garage-tc-console.laboratory.casa
        ingressClassName: external
        port: 30186
        annotations:
          external-dns.alpha.kubernetes.io/target: external.laboratory.casa
    service_ports:
      - name: http
        port: 30186
        target_port: 30186
