controllers:
  changedetection:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/dgtlmoon/changedetection.io
          tag: 0.53.2@sha256:b39f758d91ca6f00846d6328d85712b830d1b7c6ce1ed704c003a651483f3062
        env:
          TZ: America/New_York
          PORT: &port 5000
          USE_X_SETTINGS: 1
          PLAYWRIGHT_DRIVER_URL: ws://localhost:3000/?stealth=1&--disable-web-security=true&--user-data-dir=~/browserless-cache-123
      browser:
        image:
          repository: ghcr.io/browserless/chrome
          tag: v2.40.0@sha256:02af9f8dc9510851f60089cf020ea6212102ee2119323e22001e7540944ab31c
          pullPolicy: IfNotPresent
        env:
          SCREEN_WIDTH: "1920"
          SCREEN_HEIGHT: "1024"
          SCREEN_DEPTH: "16"
          ENABLE_DEBUGGER: "false"
          PREBOOT_CHROME: "true"
          CONNECTION_TIMEOUT: "300000"
          MAX_CONCURRENT_SESSIONS: "10"
          CHROME_REFRESH_TIME: "600000"
          DEFAULT_BLOCK_ADS: "true"
          DEFAULT_STEALTH: "true"
service:
  app:
    controller: changedetection
    ports:
      http:
        port: *port
ingress:
  app:
    enabled: true
    className: internal
    hosts:
      - host: changedetection.laboratory.casa
        paths:
          - path: /
            service:
              identifier: app
              port: http
persistence:
  config:
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 512Mi
    globalMounts:
      - path: /datastore
