apiVersion: v1
kind: Secret
metadata:
  name: vmalertmanager-config
  namespace: observability
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname', 'job']
      group_wait: 1m
      group_interval: 10m
      repeat_interval: 12h
      receiver: pushover
      routes:
        - receiver: 'null'
          matchers:
            - alertname =~ "InfoInhibitor|Watchdog"
          continue: false
        - receiver: pushover
          matchers:
            - severity = "critical"
    inhibit_rules:
      - source_matchers:
          - severity = "critical"
        target_matchers:
          - severity = "warning"
        equal: ['alertname', 'namespace']
    receivers:
      - name: 'null'
      - name: pushover
        pushover_configs:
          - html: true
            send_resolved: true
            sound: gamelan
            priority: '{{ if eq .Status "firing" }}1{{ else }}0{{ end }}'
            title: >-
              [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
              {{ .CommonLabels.alertname }}
            message: |-
              {{- range .Alerts }}
                {{- if ne .Annotations.description "" }}
                  {{ .Annotations.description }}
                {{- else if ne .Annotations.summary "" }}
                  {{ .Annotations.summary }}
                {{- else if ne .Annotations.message "" }}
                  {{ .Annotations.message }}
                {{- else }}
                  Alert description not available
                {{- end }}
                {{- if gt (len .Labels.SortedPairs) 0 }}
                  <small>
                    {{- range .Labels.SortedPairs }}
                      <b>{{ .Name }}:</b> {{ .Value }}
                    {{- end }}
                  </small>
                {{- end }}
              {{- end }}
            url_title: View in Alertmanager
            expire: 86400s
            user_key_file: /etc/vm/secrets/alertmanager-secret/PUSHOVER_USER_KEY
            token_file: /etc/vm/secrets/alertmanager-secret/PUSHOVER_ALERTMANAGER_KEY
