apiVersion: viaduct.ai/v1
kind: ksops
metadata:
  name: victoria-metrics-stack-secret-generator
  annotations:
    config.kubernetes.io/function: |
      exec:
        path: ksops
files:
  - ./alertmanager-secret.sops.yaml
